* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: #d3d3d3;
  font-family: GabaritoRegular;
  font-size: calc(var(--index) * .7);
}

:root {
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: 'GabaritoRegular';
  src: url('fonts/Gabarito-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'GabaritoMedium';
  src: url('fonts/Gabarito-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoSemiBold';
  src: url('fonts/Gabarito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoBold';
  src: url('fonts/Gabarito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoExtraBold';
  src: url('fonts/Gabarito-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoBlack';
  src: url('fonts/Gabarito-Black.ttf') format('truetype');
}

body {
  width: 100%;
  height: 100vh;
}

#tsparticles {
  z-index: -1;
  height: 100vh;
}
