* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

:root {
  --index: calc(1vw + 1vh);

  --appBarHeight: 60px;

  --textColor: #d1d1d1;
  --textGray: #929292;
  --accentBlue: #2d94f0;
  --accentBlueTr: #2d94f0ba;
  --accentPink: #f071ea;
  --lightGray: #272c35;
  --mediumGray: #1c2027;
  --darkGray: #000000;
  --blackTransparent: #000000ba;
  --glacier: #3b48573b;
  
  --gradient: linear-gradient(90deg, var(--accentBlue) 0%, var(--accentPink) 100%);
  --bgGradient: linear-gradient(90deg, var(--darkGray) 0%, var(--mediumGray) 45%, var(--mediumGray) 55%, var(--darkGray) 100%);
  --bgRadialGradient: radial-gradient(circle, var(--mediumGray) 0%, var(--darkGray) 80%);
}

@font-face {
  font-family: 'GabaritoRegular';
  src: url('assets/fonts/Gabarito-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'GabaritoMedium';
  src: url('assets/fonts/Gabarito-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoSemiBold';
  src: url('assets/fonts/Gabarito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoBold';
  src: url('assets/fonts/Gabarito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoExtraBold';
  src: url('assets/fonts/Gabarito-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoBlack';
  src: url('assets/fonts/Gabarito-Black.ttf') format('truetype');
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: var(--bgGradient);
  background-image: var(--bgRadialGradient);
  background-attachment: fixed;
  font-family: GabaritoRegular, Helvetica, Tahoma, Geneva, sans-serif;
  font-size: 1rem;
  color: var(--textColor);
}

h1,h2,h3,h4,h5,h6 {
  font-family: GabaritoBold, Helvetica, Tahoma, Geneva, sans-serif;
}

/* @media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
} */

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkGray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, var(--accentBlue) 0%, var(--accentPink) 100%);
}
