* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: var(--textColor);
  font-family: GabaritoRegular;
}

:root {
  --index: calc(1vw + 1vh);

  --appBarHeight: 60px;

  --textColor: #e5e5e5;
  --accentBlue: #2d94f0;
  --accentBlueTr: #2d94f0ba;
  --accentPink: #f071ea;
  --darkViolet: #09010e;
  --darkStaleBlue: #080816;
  --darkStaleBlueTr: #080816ba;
  --gradient: linear-gradient(45deg, var(--accentBlue) 0%, var(--accentPink) 100%);
}

@font-face {
  font-family: 'GabaritoRegular';
  src: url('fonts/Gabarito-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'GabaritoMedium';
  src: url('fonts/Gabarito-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoSemiBold';
  src: url('fonts/Gabarito-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoBold';
  src: url('fonts/Gabarito-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoExtraBold';
  src: url('fonts/Gabarito-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GabaritoBlack';
  src: url('fonts/Gabarito-Black.ttf') format('truetype');
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--darkViolet);
  font-size: calc(var(--index) * .7);
}

.accent_pink {
  color: var(--accentPink);
}
